.input {
  /* border: 2px solid rgba(0, 0, 0); */
  border: 1px solid var(--main-fg-color);
  background: transparent;
  color: var(--main-fg-color);
  /* background: var(--input-bg-color); */
  font-size: .9rem;
  width: 75px;
  padding: 4px 5px;
  margin: 0 2px;
  font-family: var(--main-font-family);
}

.main-plot {
  height: 350px;
  /* background: #f0f; */
}

.main-panel {
  /* background: rgba(255, 255, 255, .3); */
  height: 60px;
  padding: 8px 10px;
  border-top: 1px solid rgba(255, 255, 255, .2);

.text-error {
  padding: 10px 0;
  color: rgba(230, 81, 0);
}

.editor-panel .react-monaco-editor-container {
  margin-top: 6px;
}

.btn {
  float: right;
  font-size: .9rem;
  padding: .5rem 1.75rem;
  background: var(--input-bg-color);
  font-family: var(--main-font-family);
  /* border: 2px solid #555; */
}
.btn-big {
  font-size: 1rem;
  padding: 1rem 4rem;
}
.btn-small {
  font-size: 1rem;
  padding: .3rem 1rem;
}
.btn:hover {
  background: #ddd;
}

.plot {
  background: #eee;
}

.darker {
  color: #888;
}
