/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
} */
/*
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

.input {
  /* border: 2px solid rgba(0, 0, 0); */
  border: 2px solid #555;
  background: var(--input-bg-color);
  font-size: 12pt;
  width: 70px;
  padding: 4px 5px;
}

.main-plot {
  height: 350px;
}

.main-panel {
  background: rgba(255, 255, 255, .3);
  height: 60px;
}

.btn {
  float: right;
  font-size: 1rem;
  padding: .5rem 2rem;
  background: var(--input-bg-color);
  border: 2px solid #555;
}
.btn-big {
  font-size: 1rem;
  padding: 1rem 4rem;
}
.btn-small {
  font-size: 1rem;
  padding: .3rem 1rem;
}
.btn:hover {
  background: #ddd;
}

.plot {
  background: #eee;
}
