:root {
  --main-bg-color: #0a0c08;
  --main-fg-color: #eee;
  --input-bg-color: #ddd;
  --input-fg-color: #000;
  --main-font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--main-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--main-fg-color);
  background: var(--main-bg-color);
  font-size: .9rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
